.flex {
    display: flex;
}

.flexColumn {
    flex-direction: column;
}

.flexRow {
    flex-direction: row;
}

.alignCenter {
    align-items: center;
}

.justifyCenter {
    justify-items: center;
}

.alignStart {
    align-items: start;
}

.justifyStart {
    justify-items: start;
}

.grid {
    display: grid;
}

.scrollableY {
    overflow-y: scroll;
    scrollbar-color: black;
    scrollbar-width: thin;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mlTruncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}